<h2>New Tool Listing</h2>

<%= form_for @tool do |i| %>
  <%= i.label :tool %> <br>
  <%= i.text_field :tool %> <br>
  <br>
  <%= i.label :price %> <br>
  <%= i.text_field :price %> <br>
  <br>
  <%= i.label :location %> <br>
  <%= i.text_field :location %> <br>
  <br>
  <%= i.submit %>
<% end %>
